@model GamingApi.ViewModels.StreamViewModel

<div>
    <h4>Streams</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ViewerCount)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ViewerCount)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.StartedAt)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.StartedAt)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Language)
        </dd>
    </dl>
    <iframe src="@Url.Content("https://player.twitch.tv/?channel=" + Model.UserName + "&autoplay=false")"
            height="300"
            width="535"
            frameborder="0"
            scrolling="no"
            allowfullscreen="true">
    </iframe>
</div>
